datasets
pypdf
python-dotenv
pandas
flask
prometheus_client
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-astradb==0.6.1
langchain-text-splitters==0.3.11
